/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color: #1f1814;
    color: #ffecd5;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-button {
    align-self: end;
    margin-left: 1rem;
    height: 20px;
    display: flex;
    padding-right: 20%;
}

.nav-toggle-button span,
.nav-toggle-button span::before,
.nav-toggle-button span::after {
    display: block;
    background: whitesmoke;
    height: 3px;
    width: 40px;
    border-radius: 2px;
    position: absolute;
}

.nav-toggle-button span::before,
.nav-toggle-button span::after {
    content: '';
    position: absolute;
}

.nav-toggle-button span::before {
    bottom: 8px;
}

.nav-toggle-button span::after {
    top: 8px;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links {
    align-items: end;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    padding: 0.5em 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar-links li {
    margin-bottom: 1em;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: whitesmoke;
    background-color: #1f1814;
    font-size: 2rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 1rem;    
    outline: none;
}

.nav-toggle:checked ~ .navbar-links ul {
    display: block;
    transform: scale(1,1);
}


/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/


/* Smaller Screen Sizes */


/* Tablet Size */

@media screen and (min-width: 60em) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
        transform: scale(1,1);
        transition: transform 1ms ease-in-out;
    }

    .nav-toggle, .nav-toggle-button {
        display: none;
    }

}



/* Larger Screen Sizes */
@media screen and (min-width: 60rem) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
        transform: scale(1,1);
        transition: transform 1ms ease-in-out;
    }

    .nav-toggle, .nav-toggle-button {
        display: none;
    }

}