body {
    font-family:Kanit;
    background-color: #F3EC70;
    color:#5660BA; 
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Passion One";
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 25pt;
    text-decoration: underline;
}

header {
    text-align: center;
}


/* Hero Section */

#hero, footer {
    font-size: larger;
    color:#2634b1;
    border: 2px solid #5660BA;
    background-color:#85804E;
    text-align: center;
    padding:10px;
}

#hero img {
    width: 300px;
}

/* Bio Section */

#bio{
    text-align: center;
}

/* Hobbies Section */

#hobbies ul li{
    font-style: italic;
    font-size: x-large;
    
    
}

#hobbies ul li:first-letter {
    font-size: 1.8rem

}

#hobbies ul li:nth-child(odd){

    color: #582fc9;
    padding: 0.5rem;
    font-size: larger;
} 

#hobbies ul li:nth-child(even){

    color: #4973e6;
    padding: 0.5rem;
}


/* Gallery Section */
    
#gallery {
    font-size: large;
    text-align: center;
    border: 5px outset #5660BA;
    margin-bottom: 2rem;
}

#gallery hr {
    border: 1px dotted 
    
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */

#lit {
    border: 5px #5660BA;
    margin-bottom: 2rem;
}

#lit div {
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

#lit div p:first-child:first-letter {
    color: rgb(76, 5, 168);
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 3px outset rgb(49, 25, 156);
    font-family: 'Times New Roman', Times, serif;

}