
/* Body */

body {
    font-family:Kanit;
    background-color: #ffc67b;
    color:#153885; 
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Passion One";
}

h1 {
    font-size: 40pt;
    
}

h2 {
    font-size: 30pt;
    text-decoration: underline;
    margin: .5em;
}

header {
    text-align: center;
}


/* Hero Section */

#hero, footer {
    font-size: larger;
    color:#000133;
    border: 3px solid #5660BA;
    background-color:#ffb67a;
    text-align: center;
    padding:10px;
    margin: auto;
}

#hero img {
    width: 300px;
}


/* Bio Section */

#bio {
    text-align: center;
    font-size: larger;
}

#bio p {
    color: #000133;
}

#bio hr {
    border: 2px outset #5d79f7;
    max-width: 90%;
}


/* Hobbies Section */

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:first-letter {
    font-size: 1.8rem;
}

#hobbies ul li:nth-child(odd) {
    list-style: square;
    color: #582fc9;
    padding: 0.5rem;
    font-size: 1.3rem;
} 

#hobbies ul li:nth-child(even) {

    color: #002aa5;
    font-size: 1.3rem;
    padding: 1rem;
}


/* Gallery Section */
    
#gallery {
    font-size: large;
    text-align: center;
    border: 5px outset #5660BA;
    background-color: #ffb67a;
    margin-bottom: 2rem;
    align-items: center;   
}

#gallery hr {
    border: 2px outset #5c74ff; 
    
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

#gallery figcaption {
    font-size: 25px;
    color: #000133;
}


/* Literature */

#lit {
    border: 5px #5660BA;
    margin-bottom: 2rem;
}

#lit div {
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear: both;
}

#lit hr{
    border: 4px outset #5660BA;
    max-width: 65%;
    margin-left: -3%;
    border-radius: .1rem;
}


#botLit {
    border: 4px outset #5660BA;
    max-width: 65%;
    margin-right: -3%;
    border-radius: .1rem;
}


/* Dropcaps */

#lit div p:first-child:first-letter {
    color: rgb(76, 5, 168);
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 3px outset #31199c;
    font-family: 'Times New Roman', Times, serif;

}

#lit p {
    color: #211153;
}


/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 800px;
    margin: 1rem auto;
}

fieldset {
    border: 3px solid #31199c;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .5rem;
}

legend {
    border: 5px outset #9084ff;
    background-color: #1b3c94;
    color: white;
    padding: .5em;
    border-radius: .5rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #1b3c94;
    border: 5px outset #9084ff;
    color: white;
    width: 50%;
    justify-self: center;
    border-radius: .5rem;
}

#contact hr {
    border: 2px solid #04067e;
    margin-bottom: 1rem;
}

/* Media Queries */

/* -------------------------------------------------- */

/* Phone Size & Smaller */

@media screen and (min-width: 0em) {
    #hero img {
        max-width: 100%;
    }
    
    figure {
        display: grid;
        grid-template-columns: 2fr;
    }

    #gallery iframe {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div { 
        max-width: 100%;
        columns: 20rem;
    }

}


/* Tablet Size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #gallery iframe {
        max-width: 100%;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div { 
        max-width: 100%;
        columns: 20rem;
    }

}


/* Larger Screen Sizes */

@media screen and (min-width: 100em) {
    #bio hr {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    
    #hobbies li {
        display: inline-block; 
        text-decoration: underline;
    }

    #hobbies div {
        text-align: center;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }

    #gallery iframe {
        max-width: 100%;
    }

    #gallery hr {
        display: none;
}

    #gallery h2 {
        grid-column: 1/-1;
}

    figure {
        display: block;

}

    #lit hr {
        display: none;
    }

    #lit hr, #botLit {
        display: none;
    }
    
    #contact {
        max-width: 80%;
        font-size: larger;
        background-image: url(/img/avataaars.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    #contact button {
        font-size: 20px;
    }

}



